<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="920120515" android:versionName="2.2.0_1.5" package="com.touchchina.cityguide.sz"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name="com.tc.TCApplication">
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="@string/app_name" android:name="com.tc.cg.CGTCStartActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.tc.cg.CGService" />
        <service android:name="com.tc.sg.SGService" />
        <uses-library android:name="com.google.android.maps" android:required="false" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.TCHtmlActivity" android:name="com.tc.TCHtmlActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.google.GoogleMapActivity" android:name="com.tc.google.GoogleMapActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.weibo.WeiboActivity" android:name="com.tc.weibo.WeiboActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.cg.CGStartActivity" android:name="com.tc.cg.CGStartActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGMainActivity" android:name="com.tc.cg.CGMainActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGIntroduceActivity" android:name="com.tc.cg.CGIntroduceActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGGuideActivity" android:name="com.tc.cg.CGGuideActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGMapActivity" android:name="com.tc.cg.CGMapActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGAboutActivity" android:name="com.tc.cg.CGAboutActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGMoreAppActivity" android:name="com.tc.cg.CGMoreAppActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGMoreAppItemActivity" android:name="com.tc.cg.CGMoreAppItemActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGFeedBackActivity" android:name="com.tc.cg.CGFeedBackActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGNewsActivity" android:name="com.tc.cg.CGNewsActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.plan.CityGuidePlanActivity" android:name="com.tc.plan.CityGuidePlanActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.plan.CityGuideCreatePlanActivity" android:name="com.tc.plan.CityGuideCreatePlanActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGWeatherActivity" android:name="com.tc.cg.CGWeatherActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <service android:name="com.tc.logic.LoadDataService">
            <intent-filter>
                <action android:name="com.android.service.START_AUDIO_SERVICE" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGNewsActivity" android:name="com.tc.cg.CGNewsItemActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGSGActivity" android:name="com.tc.cg.CGSGActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGSiteActivity" android:name="com.tc.cg.CGSiteActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGInfoActivity" android:name="com.tc.cg.CGInfoActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGSiteItemActivity" android:name="com.tc.cg.CGSiteItemActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.TCPhotosActivity" android:name="com.tc.TCPhotosActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.TCTitleImageActivity" android:name="com.tc.TCTitleImageActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGMoreActivity" android:name="com.tc.cg.CGMoreActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGSettingActivity" android:name="com.tc.cg.CGSettingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGRecommendActivity" android:name="com.tc.cg.CGRecommendActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGRecommendItemActivity" android:name="com.tc.cg.CGRecommendItemActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGCommentActivity" android:name="com.tc.cg.CGCommentActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGGalleryActivity" android:name="com.tc.cg.CGGalleryActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.mall.MallStartActivity" android:name="com.tc.mall.MallStartActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.mall.MallGuideActivity" android:name="com.tc.mall.MallGuideActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.mall.MallPOIDataActivity" android:name="com.tc.mall.MallPOIDataActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.mall.MallMoreActivity" android:name="com.tc.mall.MallMoreActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.mall.MallFavoriteActivity" android:name="com.tc.mall.MallFavoriteActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.mall.MallPOIActivity" android:name="com.tc.mall.MallPOIActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.mall.MallCommentActivity" android:name="com.tc.mall.MallCommentActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.sg.SGStartActivity" android:name="com.tc.sg.SGStartActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:label="com.tc.sg.SGVideoActivity" android:name="com.tc.sg.SGVideoActivity" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.sg.SGRoutesActivity" android:name="com.tc.sg.SGRoutesActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.sg.SGSettingActivity" android:name="com.tc.sg.SGSettingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.sg.SGGuideActivity" android:name="com.tc.sg.SGGuideActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.sg.SGMoreActivity" android:name="com.tc.sg.SGMoreActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.sg.SGMapActivity" android:name="com.tc.sg.SGMapActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.sg.SGCommentActivity" android:name="com.tc.sg.SGCommentActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.sg.SGPoiActivity" android:name="com.tc.sg.SGPoiActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.sg.SGTrafficActivity" android:name="com.tc.sg.SGTrafficActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.sg.SGAroundActivity" android:name="com.tc.sg.SGAroundActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.sg.SGTaxiActivity" android:name="com.tc.sg.SGTaxiActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.sg.SGMapActivity" android:name="com.tc.sg.SGMapActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.mall.MallMapActivity" android:name="com.tc.mall.MallMapActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.CGUpdateActivity" android:name="com.tc.cg.CGUpdateActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.cg.Rate" android:name="com.tc.cg.Rate" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.plan.PlanViewActivity" android:name="com.tc.plan.PlanViewActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.plan.PlanDayActivity" android:name="com.tc.plan.PlanDayActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.plan.PlanRouteSelectActivity" android:name="com.tc.plan.PlanRouteSelectActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.plan.PlanRouteMapActivity" android:name="com.tc.plan.PlanRouteMapActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.plan.PlanTypeSelectActivity" android:name="com.tc.plan.PlanTypeSelectActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.plan.PlanItemSelectActivity" android:name="com.tc.plan.PlanItemSelectActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.community.CommentSquareAcivity" android:name="com.tc.community.CommentSquareAcivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.community.LoginRegisterActivity" android:name="com.tc.community.LoginRegisterActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.community.RegisterActivity" android:name="com.tc.community.RegisterActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.community.CommunityActivity" android:name="com.tc.community.CommunityActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.community.AccountEditActivity" android:name="com.tc.community.AccountEditActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboard|orientation" android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.community.BindActivity" android:name="com.tc.community.BindActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.community.CommunityItemActivity" android:name="com.tc.community.CommunityItemActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Dialog" android:name="com.tc.community.SinaBindActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.community.ReplyActivity" android:name="com.tc.community.ReplyActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.community.TencentWeibo.TencentBindActivity" android:name="com.tc.community.TencentWeibo.TencentTokenActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.community.ResetPasswordActivity" android:name="com.tc.community.ResetPasswordActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboard|orientation" android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="com.tc.community.CommunityActivityMLDPI" android:name="com.tc.community.CommunityActivityMLDPI" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <receiver android:name="com.tc.PhoneReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
</manifest>
